@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --black: #0f0f0f;
  --light-gray: #f1f5f8;
  --dark-gray: #102a42;
  --radius: 5px;
  --transition: 0.3s all ease-in-out;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: var(--dark-gray);
  letter-spacing: 0.05rem;
  background: var(--light-gray);
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding-top: 3rem;
}

.container h1 {
  font-size: 4rem;
}

.container h2 {
  font-size: 1.75rem;
}

.btn {
  outline: 0;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-family: inherit;
  letter-spacing: 0.05rem;
  background: var(--black);
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:hover {
  background: var(--dark-gray);
}

.header {
  padding: 0;
  height: 5rem;
  background: white;
  color: var(--dark-gray);
}

.header h2 {
  font-size: 1.5rem;
}

.color-div {
  width: 400px;
  height: 200px;
  border-radius: var(--radius);
}

.btn-container .btn {
  font-size: 0.875rem;
  padding: 0.45rem 0.75rem;
}

.btn-container .btn:not(:last-child) {
  margin-right: 1rem;
}

.flowers {
  width: 80vw;
  display: grid;
  margin: 1rem auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.flower-div {
  text-align: center;
  background: white;
  border-radius: var(--radius);
}

.flower-div h4 {
  padding: 1rem 0;
}

.img-div {
  height: 15rem;
}

.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
